body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.Welcome{
  background-color: lightgreen;
  margin: 0;
  padding: 24px;
  display: flex;
}

h1{
  font-size: 48px;
  font-weight: bold;
}

h2{
  font-size: 32px;
  font-weight: normal;
}

h3{
  font-size: 30px;
  font-weight: bold;
}

p{
  font-size: 24px;
  font-weight: normal;
}

.Explanation{
  margin: 0;
  padding: 24px;
  text-align: center;
}

.Button{
  display: flex;
  justify-content: center;
}

button{
  font-size: 30px;
  font-weight: bold;
  padding: 24px;
  padding-left: 48px;
  padding-right: 48px;  
  margin: 12px;
  border-radius: 12px;
  border: none;
  background-color: lightgreen;
  cursor: pointer;
}

.Image{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.ASL{
  width: 700px;
}

.grid-container{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  justify-items: center;
}

video{
  width: 1200px;
  height: auto;
}

canvas{
  position: absolute;
  width: 1200px;
  height: auto;

}
